
body {
 padding: 1rem;
}

h1 {
 text-align: center;
 color: #1e1e1e;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-weight: bolder;
 margin-bottom: 2rem;
 margin-top: -10px;
}

.banner-container {
 min-width: 10rem;
 max-width: 70rem;
 height: auto;
 margin: 0 auto;
 padding-bottom: 1rem;
}

.home-banner {
 width: 100%;
 height: auto;
}

.form-container {
 margin: 0 auto;
 max-width: 60rem;
}

form {
 margin: 2rem 1rem;
}

.form-group {
 margin-bottom: 1rem;
}

img {
 border-radius: 5px;
}

nav {
 background-color: dimgrey;
 padding: 10px;
 margin-bottom: 2rem;
 border-radius: 5px;
}

nav ul {
 list-style-type: none;
 margin: 0;
}

nav li {
 display: inline;
 margin-right: 25px;
}

nav a {
 color: white;
 font-size: 1.5em;
 text-decoration: none;
}

nav a:hover {
 color: aliceblue;
 font-weight: bold;
}

.showPage {
 font-size: 2rem;
 text-align: center;
}

.paddingShow {
 padding-top: 10rem;
}